{
  "type": "postgres",
  "host": "postgres",
  "port": 5432,
  "username": "docker",
  "password": "docker",
  "database": "acl",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": true
}
